/* 
* @Author: Angela Yang
* @Date:   2016-03-23 20:42:16
*/
/**public**/
*{
  margin: 0;
  padding: 0;
}
img{
  border:0;
}
body{
  background: #fff;
  font-family: "Microsoft",sans-serif;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}
/* 顶部样式 */
#header{
  width:100%;
  height:55px;
}
#header a.logo{
  display: block;
  width:105px;
  height:31px;
  margin:12px 0 12px 60px;
  background:url(../images/logo.png) no-repeat;
  float:left;
}
#header ul{
   float:right;
   margin-right: 40px;
}
#header ul li{
   float:left;
   height:55px;
   line-height: 55px;
   margin-right: 20px; 
}
ul li a{
  height:52px;
  line-height: inherit;
  width:65px;
  text-align: center;
  text-decoration: none;
  display: block;
  color:#878787;
  font-size: 14px;
}
#header .login{
  height:55px;
  background:url(../images/redpep.png) no-repeat center left;
  color:#e74f4d;
}
#header a.login:hover{
  border-bottom: none;
}
#header a:hover,#header .active{
  border-bottom: 3px solid #e74f4d;
  color: #e74f4d;
}
#Time{
  margin-top: 10px;
  height:690px;
  min-width: 1280px;
  background: url(../images/back.jpg)center;
  background-size: cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/back.jpg',sizingMethod='scale');
  position: relative;
}
#Time .shade{
  height:inherit;
  width:inherit;
  background: rgba(0,0,0,0.3);
}
#Time h1{
  color:#fff;
  font-size: 60px;
  position:absolute;
  top:200px;
  left:120px;
}
#Time p{
  color:#fff;
  font-size: 23px;
  position:absolute;
  line-height: 35px;
  top:290px;
  left:120px;
}
#Time a{
  display:block;
  width:330px;
  background:#e74f4d;
  text-align: center;
  line-height: 64px;
  height:64px;
  color:#fff;
  letter-spacing: 0.2em;
  font-size: 30px;
  position:absolute;
  top:400px;
  left:120px;
}
#Time a:hover{
  background:rgba(231,79,77,0.8);
}
#specil{
  min-width: 1280px;
  height:250px;
}
#specil .icon{
  float:left;
  width:25%;
  text-align: center;
  height:inherit;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
#specil .icon img{
  margin-top: 60px;
}
#specil .icon p{
  height:52px;
  color:#767777;
  border-right: 2px solid #cac6c5;
}
#specil .icon:last-child p{
  border-right: none;
}
#word{
  min-width: 1280px;
  height:360px;
  text-align: center;
  background:#ddd;
}
#word img{
  margin-top: 90px;
}
#word h2{
  font-size: 53px;
  color: rgba(50,51,51,.5);
  margin-top: 50px;
}
#map{
  min-width: 1280px;
  height:340px;
  background:url(../images/map.jpg) no-repeat center;
  background-size: cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/map.jpg',sizingMethod='scale');
}
#map .map_center{
  text-align: center;
  min-width: inherit;
  background:rgba(170,52,51,.2);
  height:inherit;
}
#map .map_center h3{
  padding:51px 0 16px 0;
  color:#fff;
  font-size: 22px;
  font-weight: normal;
}
#map .map_center h3:after{
  content:'';
  display:inline-block;
  height:2px;
  background:#fff;
  width:30px;
}
#map .map_center p{
  text-align: center;
  color:#fff;
  margin:0 0 60px 0;
  font-size: 12px;
  font-weight: normal;
}
/**map中sel样式***/
.map_center form #sel{
  width:237px;
  height:39px;
  display:inline-block;
  vertical-align: middle;
  margin:0 15px;
}
.sel_list{
  width:inherit;
  height:inherit;
  background:#fff;
  cursor: pointer;
  position:relative;
}
.sel_list span{
  height:39px;
  line-height: 39px;
  font-size: 13px;
  color:#a8aaaa;
  display:block;
  position:absolute;
  left:12px;
}
.sel_list i{
  display:block;
  width:19px;
  height:18px;
  position:absolute;
  right:10px;
  top:10px;
  background:url(../images/select.png) no-repeat;
}
#sel ul{
  position:relative;
  z-index: 1;
}
#sel ul li{
  height:25px;
  background:#e3e3e4;
  text-align: left;
  text-indent: 30px;
  cursor:pointer;
  font-size: 12px;
  color:#767777;
  line-height: 24px;
}
#sel ul li:hover{
  background: #be4e48 url(../images/selected.png) no-repeat 10px 0;
  color: #fff;
}
input.serach{
  width:220px;
  height:30px;
  border:0;
  background: #be4e48;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  letter-spacing:1em;
  outline: none;
}
/* 活动模块样式 */
#activity{
  min-width: 1280px;
  height:505px;
  background:#f7f7f7;
  text-align: center;
  padding-top:105px;
}
.activity1{
  display: inline-block;
  width:217px;
  height: 390px;
  overflow: hidden;
  vertical-align: middle;
  margin:0 18px;
}
.activity1 img{
  border:1px solid #f0efef;
}
.activity1 h2{
  font-size: 16px;
  font-weight: normal;
  margin:0;
  padding-bottom:8px;
}
.activity1 p{
  margin:0;
  padding-bottom:5px;
  font-size: 12px;
  color:#767777;
}
.sh h2{
  font-size: 20px;
  letter-spacing: 1.4em;
  margin-left: 22px;
}
/* 新世界介绍部分样式 */
#newworld{
  height:1085px;
  min-width: 1280px;
}
#newworld .new1{
  float:left;
  text-align:center;
}

/* 介绍第一部分 */
.info1{
  width:66.6666%;
  height:565px;
  background: url(../images/people.jpg) no-repeat;
  background-size: cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/people.jpg',sizingMethod='scale');
  position:relative;
}
.info1 h2{
  margin:150px 0 0 0;
  font-size: 50px;
  color:#fff;
  font-weight: normal;
}
.info1 h3{
  margin:0;
  font-size: 158px;
  height:140px;
  line-height: 140px;
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
}
.info1 p{
  font-size: 22px;
  color: #fff;
  font-weight: normal;
  line-height: 35px;
}
.info1 span{
  width:24px;
  height:29px;
  background:url(../images/newworld.png) no-repeat;
  display: block;
  position: absolute;
  right:0;
  top:268px;
  overflow: hidden;
}
/* 介绍第二部分 */
.info2{
  width:33.3333%;
  height:565px;
  padding:0 70px;
  overflow: hidden;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
.info2 img{
  margin:120px 0 10px 0;
}
.info2 p{
  line-height: 35px;
  font-size: 12px;
  color:#767777;
}
.info2 a{
  display:inline-block;
  height:33px;
  width:105px;
  color:#e74f4d;
  font-size: 12px;
  line-height: 33px;
  text-decoration: none;
  border:1px solid #e74f4d;
}

.info2 a:hover{
  background: #e74f4d;
  color:#fff;
}
.info2 span.info2-span{
  height:12px;
  width:12px;
  border-radius: 100%;
  display: inline-block;
  border:1px solid #929292;
  margin:25px 5px;
}
.info2 span.selected{
  background: #929292;
}
/* 介绍第三部分 */
.info3,.info4,.info5{
  height:520px;
  width:33.3333%;
}
.info3{
  background: #e74f4d;
}
.info3 p{
  font-size: 20px;
  color:#fff;
  font-weight: normal;
  line-height: 30px;
  margin:150px 0 50px 0;
}
.info3 p:after{
  content:'';
  display: inline-block;
  height:2px;
  width:30px;
  background:#fff;
}
.info4{
  background: #fff;
}
.info4 p{
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  margin:150px 0 50px 0;
}
.info4 p:after{
  content:'';
  display: inline-block;
  height:2px;
  width:30px;
  background:#767777;
}
.info3 a,.info4 a{
  display: inline-block;
  height:40px;
  width:167px;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
}
.info3 a{
  border:1px solid #fff;
  color:#fff;
}
.info4 a{
  border:1px solid #e74f4d;
  color:#e74f4d;
}
.info3 a:hover{
  background: #fff;
  color:#e74f4d;
}
.info4 a:hover{
  background: #e74f4d;
  color:#fff;
}
  
/* 介绍第五部分 */
.info5{
  background: url(../images/woman.jpg) no-repeat;
  background-size: cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/woman.jpg',sizingMethod='scale');
  position: relative;
}
.info5 span{
  width:24px;
  height:29px;
  background:url(../images/ico2.png) no-repeat;
  display: block;
  position: absolute;
  left:0;
  top:245px;
  overflow: hidden;
}
/* 加入我们 */
#join{
  text-align: center;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  padding:0 100px;
  overflow: hidden;
  min-width: 1280px;
}
#join h2{
  margin:100px 0 20px 0;
  font-size: 22px;
  font-weight: normal;
  color: #323333;
}
#join h2:after{
  content:'';
  display: inline-block;
  height:2px;
  width:30px;
  background:#e74f4d;
}
#join p{
  font-size: 12px;
  color:#aaaaaa;
  margin:0 0 50px 0;
}
#join #form_info{
  width:100%;
  min-width: 1080px;
  overflow: hidden;
  padding-bottom: 160px;
}
/* 条款样式 */
#form_info .rule-list{
  width:33.3333%;
  min-width: 360px;
  float:left;
  text-align: left;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  padding-right: 50px;
}
.rule-list dl{
  margin:0 0 30px 0;
  padding-bottom: 20px;
  position: relative;
}
.rule-list dl dt{
  font-size: 14px;
  margin-bottom: 20px;
}
.rule-list dl dd{
  margin:0;
  font-size: 12px;
  color:#aaaaaa;
}
.rule-list dl span{
  display: block;
  position: absolute;
  height:9px;
  width: 45px;
  background: url(../images/more.png) no-repeat;
  right: 0;
  bottom:0;
}
/* 提交申请 */
#form_info form{
  width:66.6666%;
  min-width: 720px;
  float:left;
  text-align: left;
}
div.input{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  width:49%;
  background: #ededee;
  margin:0 0 15px 0;
  padding:9px 0;
}
div.username,div.usermethed{
  float:left;
}
div.userage,div.useradress{
  float:right;
}
div.input label{
  font-size: 12px;
  color:#767777;
  width:18%;
  padding-left:10px;
  display: inline-block;
}
div.input input[type="text"]{
  height:20px;
  width:77%;
  border:none;
  display: inline-block;
  background: #ededee;
  outline: none;
}
div.textarea{
  width:100%;
  clear:both;
}
div.textarea label{
  display: block;
  width:80%;
}
div.textarea textarea{
  border:none;
  width:98%;
  height:120px;
  margin-left: 10px;
  resize:none;
  background: #ededee;
  outline: none;
}
#form_info form a{
  display: block;
  width:100%;
  height:40px;
  line-height: 40px;
  text-align: center;
  background: #ededee;
  font-size: 18px;
  color:#000;
  text-decoration: none;
}
/* 联系我们 */
#contact{
  height:420px;
  min-width: 1280px;
  background: #32353e;
  text-align: center;
  overflow: hidden;
  position: relative;
}
#contact h2{
  font-size: 22px;
  color:#fff;
  font-weight: normal;
  margin:90px 0 10px 0;
}
#contact p{
  margin:0 0 30px 0;
  color:#fff;
  font-weight: normal;
  font-size: 12px;
}
/* 邮件 */
#contact .input-email{
  width:509px;
  height:40px;
  display: inline-block;
 
}
.input-email input{
  height:44px;
  border:none;
  padding:0;
  width:430px;
  text-indent: 15px;
  outline: none;
}
.input-email a{
  display: inline-block;
  width:79px;
  height:44px;
  line-height: 40px;
  background: #686166;
  font-size: 16px;
  letter-spacing: .5em;
  text-indent: 10px;
  color:#fff;
  text-decoration: none;
}
div.share-icon{
  margin-top:30px;
}
div.share-icon span.share{
  display: inline-block;
  margin:0 10px;
}
div.share-icon span.icon1{
  background: url(../images/qq.png) no-repeat;
  width:24px;
  height:27px;
}
div.share-icon span.icon2{
  background: url(../images/sina.png) no-repeat;
  width:29px;
  height:27px;
}
div.share-icon span.icon3{
  background: url(../images/bird.png) no-repeat;
  width:28px;
  height:27px;
}
div.share-icon span.icon4{
  background: url(../images/global.png) no-repeat;
  width:24px;
  height:27px;
}
.footer{
  position: absolute;
  bottom:0;
  height:58px;
  width:100%;
  background:#2f3038;
}
#contact .footer p{
  float: left;
  font-family: "SimSun";
  margin:32px 0 0 60px;
}
#back-to-top{
  position: absolute;
  bottom: 10px;
  right: 60px;
  font-size: 12px;
  color:#fff;
  font-family: "SimSun";
}