 *{
    margin:0;
    padding:0;
}
            body{
    background: #ddd;
    font-family: "Microsoft Yahei";
    width:100%;
}
            .top{
    background:#363636;
    height:80px;
    width:100%;
}
            .top img{
    margin-top:15px;
    float:left;
    margin-left: 50px;
}
            .top ul{
    width:28%;
    margin-left: 1130px;
}
            .top ul li{
    float:left;
    color: #fff;
    margin-right: 20px;
    margin-top: 35px;
}
            .top ul .li4{
    color:#ddd;
}
            .Con1,.Con2,.Con4,.Con3,.Con5{
    width:97%;
    background:#fff;
    margin:20px 24px;
}
            .Con3{
    height:1915px;
}
            .Con4{
    height:430px;
}
            .Con1 h1,.Con2 h1,.Con3 h1,.Con4 h1{
    padding-top: 30px;
    text-indent: 30px;
}
            .Con1 h2,.Con2 h2,.Con4 h2{
    color:#676767;
    padding-top: 15px;
    text-indent: 30px;
}
            .Con1 span,.Con2 span,.Con4 span{
    color:#676767;
    margin-top: 15px;
    text-indent: 30px;
    display: block;
}
            .Con1 .p1,.p2,.Con2 .p1{
    margin:20px;
}
            .Con1 .p1,.Con2 .p1{
    padding-bottom: 10px;
}
            .Con1 .p2{
    padding-bottom: 40px;
}
            .Con1 img,.Con2 img{
    margin-left: 20px;
    display:block;
    padding-bottom: 20px;
}
            .Con2 ul{
    list-style: none;
    margin-left: 40px;
    padding-bottom: 20px;
}
            .Con2 ul li{
    margin-top: 10px;
}
            .Con3 div{
    border: 1px solid #ddd;
    width:180px;
    height:150px;
    margin: 20px 70px 30px;
}
            .Con3 div p{
    margin-bottom: 10px;
    text-indent:40px;
}
            .Con3 div img{
    margin:5px auto;
    display:block;
}
            .Con4 ol{
    margin-left: 70px;
    margin-top:10px;
    padding-bottom: 20px;
}
            .Con4 p{
    text-indent: 20px;
}
            .Con4 table{
    border: 1px solid  #DCDCDC;
    width: 97%;
    border-spacing: 0;
    margin:0px auto;
}
            .Con4 tr th{
    background-color: black;
    border: 1px solid  #DCDCDC;
    color: white;
}
            .Con4 tr td{
    border: 1px solid  #DCDCDC;
}
            .Con4 tr.table-sum{
    background-color: #DCDCDC;
    border: 1px solid  #DCDCDC;
}
            .Con5 .sidebar{
    background: white;
    padding: 20px;
}
            .Con5 h2{
    margin-left: 20px;
    text-align: left;
    font-family: "Microsoft Yahei";
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-left: 3px solid #DCDCDC;
}
            .Con5 .inp{
    display: block;
    margin: 20px;
}
            .Con5 .inp p{
    float: left;
    width: 30%;
    text-align: right;
    padding-right: 10px;
}

            .Con5 .inp .submit{
    width: 100%;
    background: #4169E1;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 6px;
    cursor: pointer;
}
            .Con5 .cent{
    display: block;
    margin: 20px;
    height: 25px;
}
            .Con5 .cent .cent-left{
    float: left;
    width: 30%;
    height: 25px;
}
            .Con5.cent .cent-right{
    float: left;
    width: 30%;
}
            .Con5 .cent p{
    text-align: left;
    font-family: "Microsoft Yahei";
    line-height: 30px;
    color: #A9A9A9;
    font-size: 15px;
    font-weight: 400;
    text-indent: 0;
}
            #footer{
    background-color: black;
    height: 40px;
    padding: 20px;
}
            #footer p{
    color: white;
    text-align: center;
    line-height: 30px;
}