/***public样式****/
*{margin: 0;padding: 0;}
ul,ol{ list-style: none; }
img{ border: 0; }
a{ text-decoration: none; }

/***头部header样式****/
#header{ width: 100%; height: 56px; background: #2189bf;}
#header .wrap{ width: 1280px; margin: 0 auto; position: relative; }
#header .logo{ position: absolute; left: 50px; top: 10px; width: 36px; height: 36px; background: url(../images/sprite.png) no-repeat 0 0; }
#header .serach .text{ position: absolute; right: 156px; top: 14px; border:none; width: 312px; text-indent: 40px; height: 28px; border-radius: 15px; }
#header .magnifier{ position: absolute; right: 435px; top: 20px; background: url(../images/sprite.png) no-repeat -50px 0; width: 18px; height: 18px; }
#header a{ position: absolute; right: 93px; top: 19px; width: 44px; height: 17px; text-indent: 20px; line-height: 17px; color: #fff; background: url(../images/sprite.png) no-repeat 0 -45px; font-family: Adobe 黑体 Std; font-size: 12px; }

/*****左侧sidebar样式****/
#sidebar{ width: 20.3125%; height: 1210px; background: #2a2e3d; float: left; position: relative; }
#sidebar .sideCon{ height: 149px; }
#sidebar .circle{ float: left; width: 58px; height: 58px; margin: 18px 0 0 45px; background: url(../images/sprite.png) no-repeat -97px -38px; }
#sidebar .circle:after{ content: "Fighter"; font: 16px; color: #fff; position: absolute; left: 120px; top: 40px; }
#sidebar a{ clear: both; position: absolute; width: 90px; height: 30px; text-align: center; color: #6e8095; font-size: 12px; }
#sidebar a:hover{ color:#fff; }
.fans{ margin-left: 0; border-left: 1px solid #313645; left:119px; top:97px; }
.collect{ left:20px; top:97px; }
/*****左侧sidebar ul列表样式****/
.list>li{ width: calc(100%-46); padding-left: 46px; height: 45px; }
.list li p{ float: left; margin-top: 16px; width: 200px; text-indent: 15px; font-size: 12px; color: #606e81; }   
.list li.active{ height: 191px; background: #383d4e; }
.list li.active p{ color: #fff; }
[class*="icon"] { float: left; margin-top: 16px; width: 12px; height:12px; background: url(../images/sprite.png) no-repeat; }
.icon1{ background-position:-188px 0; }
.icon2{ background-position: -188px -94px; }
.icon3{ background-position:-188px -78px; }
.icon4{ background-position: -188px -94px; }
.icon5{ background-position: -188px -94px; }
.icon6{ background-position: -188px -113px; }
#sidebar .file,.doc1,.doc2{ clear: both; font-size: 12px; padding: 9px 0; margin-left: 25px; color: #606e81; }
#sidebar .file.select .doc{ padding-top: 9px; padding-bottom: -9px; }
#sidebar .file.select{ color: #fff; }
.ccon,.dcon{ width: 30px; height: 12px; float: left; margin-right: 6px; background: url(../images/sprite.png) no-repeat; }
.ccon{ background-position: -172px -18px; }
.dcon{ background-position: -170px -46px; }
.doc1{ color: #fff; }
.icon7,.icon8{ margin: 0 6px 0 0; }
.icon7{ background-position: -190px -129px; }
.icon8{ background-position: -190px -146px; }

/**右侧rightCon内容样式***/
#rightCon{ width: 79.6875%; height: 1210px; background: #eeeeed; float:left; font-size:12px; font-family: "microsoft yahei","simsun"; overflow: hidden; }
#rightCon .top{ text-indent: 29px; height: 30px; line-height: 30px; background: #fff; }
#rightCon .top a{ color: #abaaaa; }
#rightCon .top .blue{ color: #6898c2; }
#rightCon .mainCon{ width: 900px; margin: 0 auto;}
.mainCon div{ float: left; width: 898px; border-top: 1px solid #dddbdd; border-left: 1px solid #dddbdd; border-bottom: 2px solid #eae9eb; border-right: 1px solid #eae9eb; }   
#rightCon .find{ margin-top: 20px; height: 83px; background: #fff; }
#rightCon .history{ height: 64px; margin-top: 10px; border: 0; }
#rightCon .total{ height: 72px; margin-top: 41px; position: relative; border: 0; }
#rightCon .pro{ height: 357px; margin-top: 13px; border: 0; }
#rightCon .fo{ height: 359px; margin-top: 8px; border: 0; }
/**右侧rightCon第一部分内容样式***/
.find li{ font-size: 12px; color: #abaaaa; float: left; height: 86px; }
.find .sel{ width: 159px; margin-left: 30px; line-height: 65px; }
#sel{ margin-left: 10px; }
.find .buy{ width: 219px; height: 54px; padding: 16px 0; }
.find .buy section{ float: left; width: 158px; height: 27px; line-height: 27px; }
.buy .txt{ margin-left: 8px; width: 120px; height: 25px; }
.huan{ float: right; width: 60px; height: 35px; background: url(../images/sprite.png) -45px -23px; margin-top: 9px; }
.find .list{ width: 290px; height: 54px; padding: 16px 0; }
.find .list .list-date{ width: 160px; height: 31px; float: left; }
.list-date input{ margin-left: 10px; width: 121px; height: 25px; text-indent: 10px; }
.find .list .list-peo{ width: 106px; height: 25px; float: left; }
.list-peo select{ margin-left: 10px; width: 70px; height: 25px; } 
.find .list .list-time{ width: 116px; height: 31px; float: right; }
.list-time select{ margin-left: 10px; width: 70px; height: 25px; }
.find .list .list-succ{ width: 166px; height: 25px; float: right; }
.list-succ select{ margin-left: 10px; width: 120px; height: 25px; }
.find .ser-btn{ width: 82px; padding-left: 31px; height: 86px; line-height: 86px; }
.find .ser-btn input{ width: 51px; height: 27px; cursor:pointer; background: #388ac1; border: 0; border-radius: 1px; color: #fff; font-size: 12px; }
#rightCon .history .left,#rightCon .history .right{ width: 10px; height: 18px; padding:  23px 10px; border-top: #c8c6ca 1px solid; border-left: #c8c6ca 1px solid; background: #fff; margin-right: 5px; }
/**右侧rightCon第二部分内容样式***/
.history .left:after,.history .right:after{ content: ''; float: left; width: 10px; height: 18px; background: url(../images/sprite.png) no-repeat; }
.history .left:after{ background-position: 0 -106px; }
.history .right:after{ background-position: 0 -125px; }

.history ul li{ float: left; width: 57px; height: 41px; margin-right: 5px; background: #fff; border-top: #c8c6ca 1px solid; border-left: #c8c6ca 1px solid; padding: 12px 26px; }
.history ul li .ap{ width: 59px; height: 13px; float: left; color: #323333; }
.history ul li .money{ margin-top: 18px; float: left; background: url(../images/sprite.png) no-repeat -109px 0; width: 12px; height: 11px; }
.history ul li .num{ margin-top: 7px; float: left; color: #ec6500; width: 45px; height: 19px; font-size: 21px; }
.history .ever-btn{ width: 130px; height: 65px; background: #fff; }
.history .ever-btn .cal{ width: 33px; height: 32px; float: left; margin: 17px 14px 0 17px; background: url(../images/sprite.png) no-repeat 0 -68px; }
.history .ever-btn .lscx{ float: left; margin-top: 27px; }
.history .history-active{ border-top: 4px solid #4388c9; height: 37px; }
.history li:hover{ border-top: 4px solid #4388c9; height: 37px; }
/**右侧rightCon第三部分内容样式***/
.total .total-date{ position: absolute; width: 98px; height: 14px; top: -18px; }
.total ul li{ width: 198px; height: 71px; float: left; margin-right: 29px; background: #fff; border-left:4px solid; }
.total .total-1{ border-color: #43b29e; }
.total .total-1 div{ background: #43b29e; }
.total .total-2{ border-color: #388ac1; }
.total .total-2 div{ background: #388ac1; }
.total .total-3{ border-color: #d04a36; }
.total .total-3 div{ background: #d04a36; }
.total .total-4{ border-color: #e2cd46; margin-right: 0px; }
.total .total-4 div{ background: #e2cd46; }
.total p{ float: left; width: 50px; height: 22px; text-indent: 10px; }
.total .p1{ font-size: 12px; margin-top: 20px; margin-right: 60px; }
.total .p2{ font-size: 10px; color: #b6b5b5; }
.total div{ width: 60px; height: 46px; float: right; margin: 13px 15px 0 0; }
/**右侧rightCon第四部分内容样式***/
.pro .lef,.pro .righ{ background: #fff; border-radius: 5px; border: 1px solid #dddbdd; }
.pro .lef{ width: 532px; height: 358px; float: left; position: relative; }
.pro .righ{ width: 350px; height: 358px; float: right; }
.hea{ width: clac(100%-22px); height: 12px; padding: 16px 0 13px 22px; color: #b6b5b5; background: #f4f5f6; }
.pro .lef ul{ width: 490px; height: 27px; position: absolute; left: 20px; top: 54px; z-index: 2; }
.pro .lef ul li{ width: 83px; height: 27px; float: left; text-align: center; line-height: 27px; background: #ededf0; margin-right: 5px; border-radius: 3px; border-bottom: 1px solid #cbcccc; }
.pro .lef ul li:hover{ background: #fff; border: 1px solid #cbcccc; border-bottom-color: #fff; }
.lef .tab{ width: 490px; height: 250px; border: 1px solid #cbcccc; border-radius: 3px; position: absolute; left: 20px; top: 81px; }
.pro .lef .pro-active{ background: #fff; border: 1px solid #cbcccc; border-bottom-color: #fff; }
.tab table{ margin-top:29px; margin-left: 37px; width: 402px; height: 186px; border-collapse: collapse; }
.tab table td{ width: 101px; height: 27px; border: 1px solid #d6d7d7; text-indent: 19px; }
.pro .righ span{ color: #c3c2c2; width: 58px; height: 14px; display: block; }
.righ .righ-title { margin-left: 50px; margin-top: 15px; }
.righ .righ-title-con{ margin-left: 50px; height: 30px; line-height: 30px; }
.righ .sprice{ margin-left: 36px; width: 94px; height: 44px; border:1px solid #e9e8e8; border-left-color: #fff; text-indent: 12px; }
.righ .leader{ text-indent: 12px; width: 186px; height: 44px; border:1px solid #e9e8e8; border-right-color: #fff; }
.sprice p,.leader p,.content p{ margin-top: 8px; }
.righ .blank{ width: 28px; height: 44px; border: 1px solid #fff; border-bottom: 1px solid #e9e8e8; }
#rightCon .pro .righ .content{ width:266px; height:145px; margin-left:36px; border:1px solid #fff; border-bottom:1px solid #e9e8e8; padding-left:12px;}
.righ .righ-ser{ border: 0; margin-left: 36px; }
.righ .righ-ser .btn{ width: 51px; height: 27px; background: #388ac1; border: 0; border-radius: 1px; color: #fff; font-size: 12px; margin-top: 6px; }
.righ .righ-ser .yes{ float: left; margin-left: 4px; margin-top: 12px; }
.righ .righ-ser span{ float: left; width: 206px; margin-left: 9px; margin-top: 10px; }
/**右侧rightCon第五部分内容样式***/
.fo .leff,.fo .righh{ background: #fff; border-radius: 5px; border: 1px solid #dddbdd; }
.fo .leff{ width: 353px; height: 355px; float: left; }
.fo .leff select{ margin-top: 11px; float: left; margin-right: 7px; font-size: 12px; font-family: "黑体"; }
#year{ margin-left: 23px; width: 64px; height: 22px; }
#month{ width: 84px; height: 22px; }
#date{ width: 75px; height: 22px; }
.fo .leff p{ width: 64px; height: 20px; margin-top: 11px; float: left; text-align: center; line-height: 20px; font-size: 12px; font-family: "黑体"; border:1px solid #cbcccc; }
.fo .leff ul{ float: left; width: 312px; height: 31px; border-bottom: 1px solid #eeefef; border-top: 1px solid #b2cfed; margin: 11px 0 0 20px; }
.fo .leff ul li{ width: 44px; height: 31px; float: left; line-height: 31px; text-align: center; }
.fo .leff table{ margin-left: 20px; }
.fo .leff table td{ width: 41px; height: 41px; text-align: center; border:1px solid #fff; }
.fo .leff table td span{ width: 39px; height: 20px; text-align: center; line-height: 20px; float: left; }
.fo .leff table tr td:nth-last-child(1),.fo .leff table tr td:nth-last-child(2){ color: #d25336; }
.fo .leff table tr td span{ color: #000; }
.fo .leff table tr:nth-child(1) td:nth-child(5) span,.fo .leff table tr:nth-child(2) td:nth-child(2) span{ color: #d25336; }
.fo .leff table tr:nth-child(2) td:nth-child(6),.fo .leff table tr:nth-child(3) td:nth-child(2),.fo .leff table tr:nth-child(4) td:nth-child(2){ border:1px solid #f4c21d; }
.fo .leff table tr td:hover{ border:1px solid #f4c21d; }
.fo .righh{ width: 532px; height: 355px; float: right; position: relative; }
.righh table{ width: 450px; height: 274px; margin: 19px 0 0 42px; border-collapse: collapse;cursor: pointer; }
.righh table td{ border: 1px solid #cbcccc; }
.righh table tr:nth-child(2){ background: #f4f5f6; }
.righh table tr:hover{ background: #f4f5f6; }
.righh table tr td:nth-child(1){ width: 68px; height: 24px; text-align: center; }
.righh table tr td:nth-child(2){ width: 92px; height: 24px; text-align: center; }
.righh table tr td:nth-child(3){ text-indent: 20px; }
.righh table tr:last-child td{ border-bottom-color: #fff; }
.righh table tr td p{ width: 105px; float: left; }
.righh .bg-gray{ width: 168px; height: 4px; background: #dcdcdc; margin-top: 5px; border: 0; }
.righh i{ position: absolute; left: 180px; top: 92px; width: 12px; height: 14px; background: url(../images/sprite.png) no-repeat -49px -74px; }
.righh .bg-gray [class*="conbg-"]{ height: 4px; border: 0; }
.righh .bg-gray .conbg-1{ width: 140px; background: #ed6e52; }
.righh .bg-gray .conbg-2{ background: #ef8150; width: 121px; }
.righh .bg-gray .conbg-3{ background: #f19f4f; width: 104px; }
.righh .bg-gray .conbg-4{ background: #89cef1; width: 96px; }
.righh .bg-gray .conbg-5{ background: #89cef1; width: 86px; }
.righh .bg-gray .conbg-6{ background: #89cef1; width: 80px; }
.righh .bg-gray .conbg-7{ background: #89cef1; width: 74px; }
.righh .bg-gray .conbg-8{ background: #89cef1; width: 63px; }
.righh .bg-gray .conbg-9{ background: #89cef1; width: 59px; }
.righh .bg-gray .conbg-10{ background: #89cef1; width: 54px; }