/*base*/
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var{
	margin: 0;
	padding: 0;
}
body{
	color: #666;
	font: 12px/150% Arial,Verdana,"宋体";
}
li{
	list-style-type: none;
}
ul,ol{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
a{
	color: #666;
	text-decoration: none;
}
/*information*/
.infor{
	height: 30px;
	background: #f1f1f1;
	line-height: 30px;
}
#information{
	margin: auto;
	width: 1210px;
	/* overflow: hidden; */
}
.information-layout{
	position: absolute;
	float: left;

}
.information-layout > li:hover div{
	left: 0px;
}
.information-layout {
	display: block;
	line-height: 30px;
}
.information-layout >li:hover{
	background: url(../images/expansion.png) white right center no-repeat;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.information-layout > li{
	padding: 0 20px 1px 10px;
	background: url(../images/shrink.png) right center no-repeat;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;	
}
.information-layout li> div{
	position: absolute;
	top: 29.5px;
	z-index: -1;
}
#information > li{
	float: left;
	padding: 0 11px;
}
.information-firstli{
	margin-left: 405px;
}
.information-firstli a:first-child{
	font-family: "verdana,simsun";
}
.information-firstli a:last-child{
	color: #c81623;
	padding: 0 0 0 5px;
}
.spacer{
	width: 1px;
	background: #ddd;
	height: 20px;
	float: left;
	margin-top: 5px;
}
#information .my-jd{
	padding: 0 25px 0 11px;
	background: url(../images/shrink.png) 95% center no-repeat;
}
#information .tel-jd{
	padding: 0 25px 0 25px;
	background: url(../images/jd2015img.png) 10% -5% no-repeat,url(../images/shrink.png) 95% center no-repeat;
}
.country{
	width: 301px;
	padding-left: 10px;
	padding-top: 10px;
	/*display: none;*/
	border:1px solid #ddd;
	position: absolute;
	left: -1000px;
	
}

.country div{
	float: left;
	padding:0 5px;
	margin: 0 10px;
}
.country div:hover{
	background: #f4f4f4;	
}
.country div:hover a{
	color: #c81623;
}
.country .beijing{
	background: #c81623;
}
.country .beijing:hover{
	background: #c81623;
}
.country .beijing a{
	color: white;
}
.country .beijing:hover a{
	color: white;
}
.country .jiangsu{
	margin-left: -2px;
}
.my-jd1 {position: relative;}
.my-jd1 >div{position: absolute;left: 0;width: 280px;border: 1px solid #ddd;z-index: -1;}
.no_mid{width: 60px;height: 60px;border-radius: 100%;padding: 10px;float: left;}
.my-jd1 div div div{padding-top: 10px;}
.hello{font-weight: bold;}
.coupon{border-right: 1px solid #666;padding-right: 10px;}
.my-jd1 div div div p a:last-child{padding-left: 10px;}
.my-jd1 div ul{clear: left;}
.order-form li{float: left;width: 120px;padding-left: 10px;}
.clear{clear: both;border-top: 1px dotted #666;}
.footprint ul li img{width: 50px;height: 50px;}
.footprint ul li{float: left;margin-left: 10px;}
.footprint p {padding-top:10px; }
.footprint p span{padding-left: 20px;font-weight: bold;}
.footprint p a{float: right;padding-right: 20px;}
.my-jd1 div a:hover{color: #c81623;}
.my-jd1:hover >div{position:absolute;left: 0px;}
.my-jd1 > div{left: -1000px;}
#my-jd:hover{background: url(../images/expansion.png) white right center no-repeat;border-bottom: 1px solid #fff;}

.tel-jd{position: relative;}
.tel-jd div div img{position: absolute;top: 30px;left: -2000px;border: 1px solid #ddd;z-index: -1;}

.focus-jd{position: relative;}
.focus-jd div div img{position: absolute;top: 30px;left: -2000px;border: 1px solid #ddd;z-index: -1;}

.customerService{position: relative;}
#customerService{position: absolute;top: 30px;left: 00px;border: 1px solid #ddd;z-index: -1;}