/*base*/
*{padding: 0;margin: 0;}
ul{list-style: none;}
li{list-style-type: none;}


/*page*/
.pageSize{margin: 20px auto;width: 1000px;background: #eee;overflow: hidden;padding: 20px;}

.teamIntroduce{width: 198px;border:1px solid #999;float: left; background: #fff;}
.teamIntroduce img{width: 80px;height: 80px;}
.teamIntroduce div{padding: 20px;}
.teamIntroduce div p{display: inline;vertical-align: top;}

.main{background: #fff;margin-left: 215px;margin-right: 140px;}
.main > div{border:#999 solid 1px;padding: 20px;}
.main > div h2,.main > div p{line-height: 1.5}

.teamPeople{float: right;border:#999 solid 1px;background: #fff;}
.teamPeople img{width: 80px;height: 80px;}
.teamPeople ul li{padding: 20px 20px 0;}